* {
    box-sizing: border-box;
}

body {
    background-color: #f0fafc;
    margin: auto;
    max-width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, sans-serif;
}

nav {
    background-color: #a1c7d4;
}

nav a {
    display: inline-block;
    font-family: inherit;
    text-decoration: none;
    color: black;
    padding: 0.7rem;
}

nav a:hover {
    background-color: #4a8ba1;
    color: white;
    transition: 150ms;
}

nav a.active, #about-link.active {
    background-color: black;
    color: white;
}

#about-link {
    background-color: #74a6b8;
    float: right;
}