* {
    box-sizing: border-box;
}

@media screen and (max-width: 40rem) {
    nav a {
        display: block;
    }
}
@media screen and (min-width: 40rem) {
    nav a {
        display: inline-block;
    }
    #about-link {
        float: right;
    }
}

body {
    background-color: #f0fafc;
    margin: auto;
    max-width: 80%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, sans-serif;
}

nav {
    background-color: #a1c7d4;
}

nav a {
    font-family: inherit;
    text-decoration: none;
    color: black;
    padding: 0.7rem;
}

nav a:hover {
    background-color: #4a8ba1;
    color: white;
    transition: 150ms;
}

nav a.active, #about-link.active {
    background-color: black;
    color: white;
}

#about-link {
    background-color: #74a6b8;
}

button {
    cursor: pointer;
}

input[type=number], input[type=text] {
    max-width: 6rem;
    border: solid 1pt black;
    border-radius: 0.5rem;
    padding: 0.3rem;
}