main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.sidebar {
    background-color: white;
    margin: 2rem 0;
    padding: 0.5rem;
    border: solid 2pt black;
    border-radius: 0.5rem;
}

.sidebar h2 {
    background-color:#b6ddeb;
    padding: 0.5rem;
    border-radius: inherit;
    font-size: x-large;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 0.4rem;
}

#problem-type-sidebar button {
    border-width: 0;
    border-radius: inherit;
    background-color: inherit;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
}

#problem-type-sidebar button:hover {
    background-color: #888787;
    color: white;
}

#problem-type-sidebar button.active {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    padding: 2rem 0;
    font-size: xx-large;
}

.window {
    width: 80%;
    min-height: 10rem;   /* window height referenced */
    background-color: beige;
    border: solid 2pt black;
    border-radius: 0.5rem;
    margin: 3rem auto;
    position: relative; /* I don't know if there's a better way to do this */
}


.window button {
    padding: 8px 15px;
    position: absolute;
    top: -15px;
    left: -20px;
}

.window p {
    display: block;
    text-align: center;
    margin: 3rem;
}

.shadowed-button {
    font-family: inherit;
    font-size: large;
    margin: auto 0;
    border: inherit;
    border-radius: inherit;
    background-color: #b6ddeb;
    box-shadow: 2px 2px 2px -1px;
}

.shadowed-button:hover {
    background-color: #a0c3cf;
}

.shadowed-button:active {
    margin-top: 2px;
    margin-left: 2px;
    box-shadow: 0 0;
}