main {
    text-align: center;
}

h1 {
    padding: 2rem 0;
    font-size: xx-large;
}

.window {
    width: 60%;
    min-height: 10rem;
    background-color: beige;
    border: solid 2pt black;
    border-radius: 0.5rem;
    margin: 3rem auto;
    position: relative;
}

.window p {
    display: block;
    text-align: center;
    margin: 3rem;
}


/* shadowed buttons positioning */

.sol-and-gen-buttons {
    position: absolute;
    top: -15px;
    left: -15px;
}

#step-by-step-button {
    position: absolute;
    bottom: -15px;
    right: -15px;
}
#step-by-step-button.inactive {
    display: none;
}

#options-button {
    position: relative;
}


/* moving the shadowed buttons when they're clicked */

.sol-and-gen-buttons:active {
    margin-top: 2px;
    margin-left: 2px;
}
#step-by-step-button:active {
    bottom: -17px;
    right: -17px;
}
#options-button:active {
    left: 2px;
    top: 2px;
}


/* sbs */

#sbs-section {
    display: none;
    background-color: white;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 2pt black;
    border-radius: 0.5rem;
}

table {
    margin: 1rem auto;
    border-collapse: collapse;
}

th, td {
    padding: 0;
}