@media screen and (max-width: 40rem) {
    #sbs-section::before {
        content: "You can scroll horizontally in this box.\A\A";
        white-space: pre;
        color: grey;
    }
}
@media screen and (max-width: 75rem) {
    main {
        width: 100%;
    }
}
@media screen and (min-width: 75rem) {
    main {
        width: 60%;
    }
}

main {
    text-align: center;
    margin: 0 auto;
}

main h1 {
    padding: 2rem 0;
    font-size: xx-large;
}

.window {
    width: 100%;
    min-height: 10rem;
    background-color: beige;
    border: solid 2pt black;
    border-radius: 0.5rem;
    margin: 3rem auto;
    position: relative;
}

.window p {
    display: block;
    text-align: center;
    margin: 3rem auto;
    overflow: scroll;
}


/* shadowed buttons positioning */

.sol-and-gen-buttons {
    position: absolute;
    top: -15px;
    left: -15px;
}

#step-by-step-button {
    position: absolute;
    bottom: -15px;
    right: -15px;
}
#step-by-step-button.inactive {
    display: none;
}

#change-settings-button {
    position: relative;
}


/* moving the shadowed buttons when they're clicked */

.sol-and-gen-buttons:active {
    margin-top: 2px;
    margin-left: 2px;
}
#step-by-step-button:active {
    bottom: -17px;
    right: -17px;
}
#change-settings-button:active {
    left: 2px;
    top: 2px;
}


/* sbs */

#sbs-section {
    display: none;
    overflow: scroll;
    background-color: white;
    width: 100%;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 2pt black;
    border-radius: 0.5rem;
}

table {
    margin: 1rem auto;
    border-collapse: collapse;
}

th, td {
    padding: 0;
}