@media screen and (min-width: 75rem) {
    main {
        width: 60%;
        margin: 3rem auto; 
    }
}

#sbs-section {
    display: none;
    width: 100%;
    background-color: white;
    margin: 2rem auto;
    padding: 2rem;
    border: solid 2pt black;
    border-radius: 0.5rem;
    overflow: scroll;
}

/* sbs section tables */

#sbs-section table {
    margin: 1rem auto;
    border-collapse: collapse;
}
#sbs-section table * {
    padding: 0;
}

/* input toggling stuff */

.hidden {
    display: none !important;
}

/* matrix dimensions input form table */

#mw-form tr td {
    padding: 0.3rem;
}

/* shadowed buttons positioning */

.shadowed-buttons {
    position: relative;
}

/* moving the shadowed buttons when they're clicked */

.shadowed-buttons:active {
    left: 2px;
    top: 2px;
}