@media screen and (max-width: 40rem) {
    .sidebar {
        margin: 1rem 0;
    }
    #problem-type-sidebar section {
        display: block;
    }
    .settings-input-label {
        display: block;
        margin-bottom: 0.3rem;
    }
    #settings-save-changes-button, #settings-cancel-button {
        font-size: small;
    }
    #settings-save-changes-button {
        right: 96px;
    }
    #settings-save-changes-button:active {
        right: 94px;
    }
}
@media screen and (min-width: 40rem) and (max-width: 75rem) {
    .sidebar {
        margin: 1rem 0;
    }
    #problem-type-sidebar section {
        padding: 0 1rem;
        width: 49%;
        display: inline-block;
        vertical-align: top;
    }
    #settings-save-changes-button {
        right: 112px;
    }
    #settings-save-changes-button:active {
        right: 110px;
    }
}
@media screen and (min-width: 75rem) {
    body {position: relative;}
    #problem-type-sidebar {
        width: 17%;
        position: absolute;
        top: 3em;
        left: 0;
        margin: 2rem 2rem 2rem 0;
    }
    #settings-sidebar {
        width: 17%;
        position: absolute;
        top: 3em;
        right: 0;
        margin: 2rem 0 2rem 2rem;
    }
}

/* overall styling */

.sidebar {
    background-color: white;
    padding: 0.5rem;
    border: solid 2pt black;
    border-radius: 0.5rem;
}
.sidebar h1 {
    margin: 0.4rem;
    font-size: xx-large;
}
.sidebar h2 {
    background-color:#b6ddeb;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: x-large;
}

/* buttons */

.sidebar button {
    display: block;
    width: 100%;
}
#problem-type-sidebar button {
    border-width: 0;
    border-radius: 0.5rem;
    background-color: inherit;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem;
    transition: 150ms;
}
#problem-type-sidebar button:hover {
    background-color: #888787;
    color: white;
}
#problem-type-sidebar button.active {
    background-color: black;
    color: white;
}

/* settings dialog */

#settings-dialog-container.inactive {
    display: none;
}
#settings-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}
#settings-dialog {
    display: block;
    position: fixed;
    z-index: 2;
    top: 12.5%; left: 12.5%;
    right: 12.5%; bottom: 12.5%;
    width: 75%;
    height: 75%;
    padding: 16px;
    background-color: white;
    border: solid 2pt black;
    border-radius: 0.5rem;
    font-size: smaller;
}

#settings-scroll-area {
    position: absolute;
    border: solid 1pt black;
    border-radius: 0.5rem;
    top: 5rem;
    bottom: 4rem;
    left: 2rem;
    right: 2rem;
    overflow: scroll;
}
#settings-dialog fieldset {
    margin: 1rem;
}
.settings-input-label {
    margin-right: 1rem;
}
/* .settings-dialog-table {
    table-layout: fixed;
    margin: 1rem auto;
    width: 80%;
    border-collapse: collapse;
}
.settings-dialog-table td:first-child {
    width: 55%;
    text-align: right;
}

.settings-dialog-table td {
    padding: 0.2rem 0.5rem;
} */
#settings-save-changes-button {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    /* right: 112px; */
}
#settings-save-changes-button:active {
    bottom: 8px;
    /* right: 110px; */
}
#settings-cancel-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
#settings-cancel-button:active {
    bottom: 8px;
    right: 8px;
}